# TASK 1. Basic Queries

In [ ]:
use SOCCER_DB

1. From the soccer\_venue table, count the number of venues for EURO cup 2016. Return number of venues.

2\. Write a query in SQL to find the number countries participated in the EURO cup 2016. (player\_mast)

3\. Write a query in SQL to find the number goals scored in EURO cup 2016 within normal play schedule.(goal\_details)

4\. Write a query in SQL to find the number of matches ended with a result. (match\_mast)

5\. Write a query in SQL to find the number of matches ended with draws. (match\_mast)

6\. Write a query in SQL to find the date when did Football EURO cup 2016 begin.(match\_mast)

7\. Write a query in SQL to find the number of self-goals scored in EURO cup 2016.( goal\_details)

8\. Write a query in SQL to count the number of matches ended with a results in group stage. (match\_mast)

9\. Write a query in SQL to find the number of matches got a result by penalty shootout. (penalty\_shootout)

10\. Write a query in SQL to find the number of matches were decided on penalties in the Round of 16. (match\_mast)

11\. Write a query in SQL to find the number of goal scored in every match within normal play schedule. (goal\_details)

12\. Write a query in SQL to find the match no, date of play, and goal scored for that match in which no stoppage time have been added in 1st half of play. (match\_mast)

13\. Write a query in SQL to find the number of matches ending with a goalless draw in group stage of play. (match\_details)

14\. Write a query in SQL to find the number of matches ending with only one goal win except those matches which was decided by penalty shootout.(match\_details)

15\. Write a query in SQL to find the total number of players replaced in the tournament. (player\_in\_out)

16\. Write a query in SQL to find the total number of palyers replaced within normal time of play.(player\_in\_out)

17\. Write a query in SQL to find the number of players replaced in the stoppage time. (player\_in\_out)

18\. Write a query in SQL to find the total number of players replaced in the first half of play. (player\_in\_out)

19\. Write a query in SQL to find the total number of goalless draws have there in the entire tournament. (match\_details)

20\. Write a query in SQL to fine the total number of players replaced in the extra time of play. (player\_in\_out)

21\. Write a query in SQL to compute a list to show the number of substitute happened in various stage of play for the entire tournament. (player\_in\_out)

22\. Write a query in SQL to find the number of shots taken in penalty shootout matches.(penalty\_shootout)

23\. Write a query in SQL to find the number of shots socred goal in penalty shootout matches. (penalty\_shootout)

24\. Write a query in SQL to find the number of shots missed or saved in penalty shootout matches. (penalty\_shootout)

25\. Write a query in SQL to prepare a list of players with number of shots they taken in penalty shootout matches. 

(Sample table: soccer\_country, penalty\_shootout, player\_mast)

26\. Write a query in SQL to find the number of penalty shots taken by the teams. (soccer\_country, penalty\_shootout)

27\. Write a query in SQL to find the number of booking happened in each half of play within normal play schedule. (player\_booked)

28\. Write a query in SQL to find the number of booking happened in stoppage time. (player\_booked)

29\. Write a query in SQL to find the number of booking happened in extra time. (player\_booked)