# 2\. Створення бази даних та наповнення таблиць

## 2.1. Створення бази даних

Для початку потрібно підключитися до сервера бази даних та перемикнутися на роботу з базою ***`master`***.

In [2]:
USE master
GO

Перевіримо, які бази даних присутні на сервері

In [5]:
SELECT name, database_id, create_date  
FROM sys.databases;  
GO

name,database_id,create_date
master,1,2003-04-08 09:13:36.390
tempdb,2,2023-04-02 18:06:42.367
model,3,2003-04-08 09:13:36.390
msdb,4,2019-09-24 14:21:42.270
FantoDb,5,2022-03-21 09:12:54.397
churn_new,6,2021-04-14 15:28:40.240
demoDb,7,2022-03-31 13:30:45.310
XappPrev,8,2022-04-09 10:12:10.143
FantoAppPre,9,2022-04-12 10:33:27.510
ClerkDb,10,2022-04-19 11:21:14.160
XProjectDb,11,2022-05-03 13:10:21.063
UniDb,12,2022-04-29 13:26:43.417
UniApp_Db,13,2022-05-05 15:11:06.033
XProjectDb_v2,14,2022-05-10 17:30:49.943
ForbesRankDb,15,2022-05-11 16:13:33.380
UniversityDb,16,2022-05-27 15:02:27.310
JetClassDb,17,2022-07-13 13:02:21.703
DbSocialLogins,18,2022-06-26 17:42:08.147
XStatsDb,19,2022-10-03 11:36:26.997
PowerOffDb,20,2022-10-28 09:46:02.790
misto_db,21,2022-11-07 09:40:07.180
JetClassDb1,22,2023-01-16 13:36:13.797
EduTrack_Db,23,2023-02-23 13:00:55.233
database_name,24,2023-04-04 13:58:21.093
hr_db,25,2023-04-04 13:59:10.313

In [2]:
use churn_new

select count(*) from clientChurn_FUll

(No column name)
187970088

Створимо базу даних ***`hr_db`***:

In [ ]:
CREATE DATABASE hr_db

## 2.2. Створення таблиць БД

Перед створенням таблиць важливо розуміти ієрархію залежностей/зв'язки у базі

Перейдемо до роботи з новоствореною базою даних

In [10]:
USE hr_db

Створення таблиці **`Regions`**

In [11]:
CREATE TABLE regions (
	region_id INT IDENTITY(1,1) PRIMARY KEY,
	region_name VARCHAR (25) DEFAULT NULL
);

Створення таблиці <span style="font-size: 12px;"><b>Countries</b></span>

In [12]:
CREATE TABLE countries (
	country_id CHAR (2) PRIMARY KEY,
	country_name VARCHAR (40) DEFAULT NULL,
	region_id INT NOT NULL,
	FOREIGN KEY (region_id) REFERENCES regions (region_id) ON DELETE CASCADE ON UPDATE CASCADE
);

Створюємо усі інші таблиці

In [13]:
CREATE TABLE locations (
	location_id INT IDENTITY(1,1) PRIMARY KEY,
	street_address VARCHAR (40) DEFAULT NULL,
	postal_code VARCHAR (12) DEFAULT NULL,
	city VARCHAR (30) NOT NULL,
	state_province VARCHAR (25) DEFAULT NULL,
	country_id CHAR (2) NOT NULL,
	FOREIGN KEY (country_id) REFERENCES countries (country_id) ON DELETE CASCADE ON UPDATE CASCADE
);

CREATE TABLE jobs (
	job_id INT IDENTITY(1,1) PRIMARY KEY,
	job_title VARCHAR (35) NOT NULL,
	min_salary DECIMAL (8, 2) DEFAULT NULL,
	max_salary DECIMAL (8, 2) DEFAULT NULL
);

CREATE TABLE departments (
	department_id INT IDENTITY(1,1) PRIMARY KEY,
	department_name VARCHAR (30) NOT NULL,
	location_id INT DEFAULT NULL,
	FOREIGN KEY (location_id) REFERENCES locations (location_id) ON DELETE CASCADE ON UPDATE CASCADE
);

CREATE TABLE employees (
	employee_id INT IDENTITY(1,1) PRIMARY KEY,
	first_name VARCHAR (20) DEFAULT NULL,
	last_name VARCHAR (25) NOT NULL,
	email VARCHAR (100) NOT NULL,
	phone_number VARCHAR (20) DEFAULT NULL,
	hire_date DATE NOT NULL,
	job_id INT NOT NULL,
	salary DECIMAL (8, 2) NOT NULL,
	manager_id INT DEFAULT NULL,
	department_id INT DEFAULT NULL,
	FOREIGN KEY (job_id) REFERENCES jobs (job_id) ON DELETE CASCADE ON UPDATE CASCADE,
	FOREIGN KEY (department_id) REFERENCES departments (department_id) ON DELETE CASCADE ON UPDATE CASCADE,
	FOREIGN KEY (manager_id) REFERENCES employees (employee_id)
);

CREATE TABLE dependents (
	dependent_id INT IDENTITY(1,1) PRIMARY KEY,
	first_name VARCHAR (50) NOT NULL,
	last_name VARCHAR (50) NOT NULL,
	relationship VARCHAR (25) NOT NULL,
	employee_id INT NOT NULL,
	FOREIGN KEY (employee_id) REFERENCES employees (employee_id) ON DELETE CASCADE ON UPDATE CASCADE
);