# SELECT

In [ ]:
SELECT 
    select_list
FROM
    table_name;

In [ ]:
SELECT * FROM table_name;

In [1]:
use hr_db

In [2]:
SELECT * FROM employees;

employee_id,first_name,last_name,email,phone_number,hire_date,job_id,salary,manager_id,department_id
100,Steven,King,steven.king@sqltutorial.org,515.123.4567,1987-06-17,4,24000.00,NULL,9
101,Neena,Kochhar,neena.kochhar@sqltutorial.org,515.123.4568,1989-09-21,5,17000.00,100,9
102,Lex,De Haan,lex.de haan@sqltutorial.org,515.123.4569,1993-01-13,5,17000.00,100,9
103,Alexander,Hunold,alexander.hunold@sqltutorial.org,590.423.4567,1990-01-03,9,9000.00,102,6
104,Bruce,Ernst,bruce.ernst@sqltutorial.org,590.423.4568,1991-05-21,9,6000.00,103,6
105,David,Austin,david.austin@sqltutorial.org,590.423.4569,1997-06-25,9,4800.00,103,6
106,Valli,Pataballa,valli.pataballa@sqltutorial.org,590.423.4560,1998-02-05,9,4800.00,103,6
107,Diana,Lorentz,diana.lorentz@sqltutorial.org,590.423.5567,1999-02-07,9,4200.00,103,6
108,Nancy,Greenberg,nancy.greenberg@sqltutorial.org,515.124.4569,1994-08-17,7,12000.00,101,10
109,Daniel,Faviet,daniel.faviet@sqltutorial.org,515.124.4169,1994-08-16,6,9000.00,108,10
110,John,Chen,john.chen@sqltutorial.org,515.124.4269,1997-09-28,6,8200.00,108,10
111,Ismael,Sciarra,ismael.sciarra@sqltutorial.org,515.124.4369,1997-09-30,6,7700.00,108,10
112,Jose Manuel,Urman,jose manuel.urman@sqltutorial.org,515.124.4469,1998-03-07,6,7800.00,108,10
113,Luis,Popp,luis.popp@sqltutorial.org,515.124.4567,1999-12-07,6,6900.00,108,10
114,Den,Raphaely,den.raphaely@sqltutorial.org,515.127.4561,1994-12-07,14,11000.00,100,3
115,Alexander,Khoo,alexander.khoo@sqltutorial.org,515.127.4562,1995-05-18,13,3100.00,114,3
116,Shelli,Baida,shelli.baida@sqltutorial.org,515.127.4563,1997-12-24,13,2900.00,114,3
117,Sigal,Tobias,sigal.tobias@sqltutorial.org,515.127.4564,1997-07-24,13,2800.00,114,3
118,Guy,Himuro,guy.himuro@sqltutorial.org,515.127.4565,1998-11-15,13,2600.00,114,3
119,Karen,Colmenares,karen.colmenares@sqltutorial.org,515.127.4566,1999-08-10,13,2500.00,114,3
120,Matthew,Weiss,matthew.weiss@sqltutorial.org,650.123.1234,1996-07-18,19,8000.00,100,5
121,Adam,Fripp,adam.fripp@sqltutorial.org,650.123.2234,1997-04-10,19,8200.00,100,5
122,Payam,Kaufling,payam.kaufling@sqltutorial.org,650.123.3234,1995-05-01,19,7900.00,100,5
123,Shanta,Vollman,shanta.vollman@sqltutorial.org,650.123.4234,1997-10-10,19,6500.00,100,5
126,Irene,Mikkilineni,irene.mikkilineni@sqltutorial.org,650.124.1224,1998-09-28,18,2700.00,120,5
145,John,Russell,john.russell@sqltutorial.org,NULL,1996-10-01,15,14000.00,100,8
146,Karen,Partners,karen.partners@sqltutorial.org,NULL,1997-01-05,15,13500.00,100,8
176,Jonathon,Taylor,jonathon.taylor@sqltutorial.org,NULL,1998-03-24,16,8600.00,100,8
177,Jack,Livingston,jack.livingston@sqltutorial.org,NULL,1998-04-23,16,8400.00,100,8
178,Kimberely,Grant,kimberely.grant@sqltutorial.org,NULL,1999-05-24,16,7000.00,100,8
179,Charles,Johnson,charles.johnson@sqltutorial.org,NULL,2000-01-04,16,6200.00,100,8
192,Sarah,Bell,sarah.bell@sqltutorial.org,650.501.1876,1996-02-04,17,4000.00,123,5
193,Britney,Everett,britney.everett@sqltutorial.org,650.501.2876,1997-03-03,17,3900.00,123,5
200,Jennifer,Whalen,jennifer.whalen@sqltutorial.org,515.123.4444,1987-09-17,3,4400.00,101,1
201,Michael,Hartstein,michael.hartstein@sqltutorial.org,515.123.5555,1996-02-17,10,13000.00,100,2
202,Pat,Fay,pat.fay@sqltutorial.org,603.123.6666,1997-08-17,11,6000.00,201,2
203,Susan,Mavris,susan.mavris@sqltutorial.org,515.123.7777,1994-06-07,8,6500.00,101,4
204,Hermann,Baer,hermann.baer@sqltutorial.org,515.123.8888,1994-06-07,12,10000.00,101,7
205,Shelley,Higgins,shelley.higgins@sqltutorial.org,515.123.8080,1994-06-07,2,12000.00,101,11
206,William,Gietz,william.gietz@sqltutorial.org,515.123.8181,1994-06-07,1,8300.00,205,11

## Дані можуть вибиратися не повністю

In [3]:
SELECT 
    employee_id, 
    first_name, 
    last_name, 
    hire_date
FROM
    employees;

employee_id,first_name,last_name,hire_date
100,Steven,King,1987-06-17
101,Neena,Kochhar,1989-09-21
102,Lex,De Haan,1993-01-13
103,Alexander,Hunold,1990-01-03
104,Bruce,Ernst,1991-05-21
105,David,Austin,1997-06-25
106,Valli,Pataballa,1998-02-05
107,Diana,Lorentz,1999-02-07
108,Nancy,Greenberg,1994-08-17
109,Daniel,Faviet,1994-08-16
110,John,Chen,1997-09-28
111,Ismael,Sciarra,1997-09-30
112,Jose Manuel,Urman,1998-03-07
113,Luis,Popp,1999-12-07
114,Den,Raphaely,1994-12-07
115,Alexander,Khoo,1995-05-18
116,Shelli,Baida,1997-12-24
117,Sigal,Tobias,1997-07-24
118,Guy,Himuro,1998-11-15
119,Karen,Colmenares,1999-08-10
120,Matthew,Weiss,1996-07-18
121,Adam,Fripp,1997-04-10
122,Payam,Kaufling,1995-05-01
123,Shanta,Vollman,1997-10-10
126,Irene,Mikkilineni,1998-09-28
145,John,Russell,1996-10-01
146,Karen,Partners,1997-01-05
176,Jonathon,Taylor,1998-03-24
177,Jack,Livingston,1998-04-23
178,Kimberely,Grant,1999-05-24
179,Charles,Johnson,2000-01-04
192,Sarah,Bell,1996-02-04
193,Britney,Everett,1997-03-03
200,Jennifer,Whalen,1987-09-17
201,Michael,Hartstein,1996-02-17
202,Pat,Fay,1997-08-17
203,Susan,Mavris,1994-06-07
204,Hermann,Baer,1994-06-07
205,Shelley,Higgins,1994-06-07
206,William,Gietz,1994-06-07

## Витягування даних з обчисленнями

In [4]:
SELECT 
    first_name, 
    last_name, 
    salary, 
    salary * 1.05
FROM
    employees;

first_name,last_name,salary,(No column name)
Steven,King,24000.00,25200.0000
Neena,Kochhar,17000.00,17850.0000
Lex,De Haan,17000.00,17850.0000
Alexander,Hunold,9000.00,9450.0000
Bruce,Ernst,6000.00,6300.0000
David,Austin,4800.00,5040.0000
Valli,Pataballa,4800.00,5040.0000
Diana,Lorentz,4200.00,4410.0000
Nancy,Greenberg,12000.00,12600.0000
Daniel,Faviet,9000.00,9450.0000
John,Chen,8200.00,8610.0000
Ismael,Sciarra,7700.00,8085.0000
Jose Manuel,Urman,7800.00,8190.0000
Luis,Popp,6900.00,7245.0000
Den,Raphaely,11000.00,11550.0000
Alexander,Khoo,3100.00,3255.0000
Shelli,Baida,2900.00,3045.0000
Sigal,Tobias,2800.00,2940.0000
Guy,Himuro,2600.00,2730.0000
Karen,Colmenares,2500.00,2625.0000
Matthew,Weiss,8000.00,8400.0000
Adam,Fripp,8200.00,8610.0000
Payam,Kaufling,7900.00,8295.0000
Shanta,Vollman,6500.00,6825.0000
Irene,Mikkilineni,2700.00,2835.0000
John,Russell,14000.00,14700.0000
Karen,Partners,13500.00,14175.0000
Jonathon,Taylor,8600.00,9030.0000
Jack,Livingston,8400.00,8820.0000
Kimberely,Grant,7000.00,7350.0000
Charles,Johnson,6200.00,6510.0000
Sarah,Bell,4000.00,4200.0000
Britney,Everett,3900.00,4095.0000
Jennifer,Whalen,4400.00,4620.0000
Michael,Hartstein,13000.00,13650.0000
Pat,Fay,6000.00,6300.0000
Susan,Mavris,6500.00,6825.0000
Hermann,Baer,10000.00,10500.0000
Shelley,Higgins,12000.00,12600.0000
William,Gietz,8300.00,8715.0000

Витягування даних з іменуванням стовпців

In [5]:
SELECT 
    first_name, 
    last_name, 
    salary, 
    salary * 1.05 AS new_salary
FROM
    employees;

first_name,last_name,salary,new_salary
Steven,King,24000.00,25200.0000
Neena,Kochhar,17000.00,17850.0000
Lex,De Haan,17000.00,17850.0000
Alexander,Hunold,9000.00,9450.0000
Bruce,Ernst,6000.00,6300.0000
David,Austin,4800.00,5040.0000
Valli,Pataballa,4800.00,5040.0000
Diana,Lorentz,4200.00,4410.0000
Nancy,Greenberg,12000.00,12600.0000
Daniel,Faviet,9000.00,9450.0000
John,Chen,8200.00,8610.0000
Ismael,Sciarra,7700.00,8085.0000
Jose Manuel,Urman,7800.00,8190.0000
Luis,Popp,6900.00,7245.0000
Den,Raphaely,11000.00,11550.0000
Alexander,Khoo,3100.00,3255.0000
Shelli,Baida,2900.00,3045.0000
Sigal,Tobias,2800.00,2940.0000
Guy,Himuro,2600.00,2730.0000
Karen,Colmenares,2500.00,2625.0000
Matthew,Weiss,8000.00,8400.0000
Adam,Fripp,8200.00,8610.0000
Payam,Kaufling,7900.00,8295.0000
Shanta,Vollman,6500.00,6825.0000
Irene,Mikkilineni,2700.00,2835.0000
John,Russell,14000.00,14700.0000
Karen,Partners,13500.00,14175.0000
Jonathon,Taylor,8600.00,9030.0000
Jack,Livingston,8400.00,8820.0000
Kimberely,Grant,7000.00,7350.0000
Charles,Johnson,6200.00,6510.0000
Sarah,Bell,4000.00,4200.0000
Britney,Everett,3900.00,4095.0000
Jennifer,Whalen,4400.00,4620.0000
Michael,Hartstein,13000.00,13650.0000
Pat,Fay,6000.00,6300.0000
Susan,Mavris,6500.00,6825.0000
Hermann,Baer,10000.00,10500.0000
Shelley,Higgins,12000.00,12600.0000
William,Gietz,8300.00,8715.0000