# SELECT +

In [1]:
use hr_db

## DISTINCT

In [2]:
SELECT 
    salary
FROM
    employees
ORDER BY salary DESC;

salary
24000.00
17000.00
17000.00
14000.00
13500.00
13000.00
12000.00
12000.00
11000.00
10000.00
9000.00
9000.00
8600.00
8400.00
8300.00
8200.00
8200.00
8000.00
7900.00
7800.00
7700.00
7000.00
6900.00
6500.00
6500.00
6200.00
6000.00
6000.00
4800.00
4800.00
4400.00
4200.00
4000.00
3900.00
3100.00
2900.00
2800.00
2700.00
2600.00
2500.00

In [3]:
SELECT 
    DISTINCT salary
FROM
    employees
ORDER BY salary DESC;

salary
24000.00
17000.00
14000.00
13500.00
13000.00
12000.00
11000.00
10000.00
9000.00
8600.00
8400.00
8300.00
8200.00
8000.00
7900.00
7800.00
7700.00
7000.00
6900.00
6500.00
6200.00
6000.00
4800.00
4400.00
4200.00
4000.00
3900.00
3100.00
2900.00
2800.00
2700.00
2600.00
2500.00

In [4]:
SELECT
	job_id,
	salary
FROM
	employees
ORDER BY
	job_id,
	salary DESC;

job_id,salary
1,8300.00
2,12000.00
3,4400.00
4,24000.00
5,17000.00
5,17000.00
6,9000.00
6,8200.00
6,7800.00
6,7700.00
6,6900.00
7,12000.00
8,6500.00
9,9000.00
9,6000.00
9,4800.00
9,4800.00
9,4200.00
10,13000.00
11,6000.00
12,10000.00
13,3100.00
13,2900.00
13,2800.00
13,2600.00
13,2500.00
14,11000.00
15,14000.00
15,13500.00
16,8600.00
16,8400.00
16,7000.00
16,6200.00
17,4000.00
17,3900.00
18,2700.00
19,8200.00
19,8000.00
19,7900.00
19,6500.00

In [5]:
SELECT DISTINCT
	job_id,
	salary
FROM
	employees
ORDER BY
	job_id,
	salary DESC;

job_id,salary
1,8300.00
2,12000.00
3,4400.00
4,24000.00
5,17000.00
6,9000.00
6,8200.00
6,7800.00
6,7700.00
6,6900.00
7,12000.00
8,6500.00
9,9000.00
9,6000.00
9,4800.00
9,4200.00
10,13000.00
11,6000.00
12,10000.00
13,3100.00
13,2900.00
13,2800.00
13,2600.00
13,2500.00
14,11000.00
15,14000.00
15,13500.00
16,8600.00
16,8400.00
16,7000.00
16,6200.00
17,4000.00
17,3900.00
18,2700.00
19,8200.00
19,8000.00
19,7900.00
19,6500.00

# DISTINCT RETURNS NULL

In [6]:
SELECT DISTINCT phone_number
FROM employees
ORDER BY phone_number;

phone_number
NULL
515.123.4444
515.123.4567
515.123.4568
515.123.4569
515.123.5555
515.123.7777
515.123.8080
515.123.8181
515.123.8888
515.124.4169
515.124.4269
515.124.4369
515.124.4469
515.124.4567
515.124.4569
515.127.4561
515.127.4562
515.127.4563
515.127.4564
515.127.4565
515.127.4566
590.423.4560
590.423.4567
590.423.4568
590.423.4569
590.423.5567
603.123.6666
650.123.1234
650.123.2234
650.123.3234
650.123.4234
650.124.1224
650.501.1876
650.501.2876

## LIMIT

not works on sql-server:

LIMIT - how many return

OFFSET - how many skip

In [9]:
SELECT 
    employee_id, 
    first_name, 
    last_name
FROM
    employees
ORDER BY 
	first_name
LIMIT 5

: Msg 102, Level 15, State 1, Line 9
Incorrect syntax near 'LIMIT'.

In [17]:
SELECT TOP 10
    employee_id, 
    first_name, 
    last_name
FROM
    employees
ORDER BY 
	first_name

employee_id,first_name,last_name
121,Adam,Fripp
103,Alexander,Hunold
115,Alexander,Khoo
193,Britney,Everett
104,Bruce,Ernst
179,Charles,Johnson
109,Daniel,Faviet
105,David,Austin
114,Den,Raphaely
107,Diana,Lorentz

In [19]:
SELECT employee_id, 
    first_name, 
    last_name
FROM
    employees
ORDER BY 
	first_name
OFFSET 5 ROWS
FETCH NEXT 5 ROWS ONLY

employee_id,first_name,last_name
179,Charles,Johnson
109,Daniel,Faviet
105,David,Austin
114,Den,Raphaely
107,Diana,Lorentz

In [22]:
SELECT TOP 10
            salary
        FROM
            employees
        ORDER BY salary DESC

salary
24000.00
17000.00
17000.00
14000.00
13500.00
13000.00
12000.00
12000.00
11000.00
10000.00

In [23]:
SELECT 
    employee_id, first_name, last_name, salary
FROM
    employees
WHERE
    salary = (SELECT TOP 1
            salary
        FROM
            employees
        ORDER BY salary DESC
        );

employee_id,first_name,last_name,salary
100,Steven,King,24000.00

In [24]:
SELECT 
    employee_id, 
    first_name, 
    last_name, 
    salary
FROM employees
ORDER BY 
    salary DESC
OFFSET 0 ROWS
FETCH NEXT 1 ROWS ONLY;

employee_id,first_name,last_name,salary
100,Steven,King,24000.00