# Іменування результатів вибірки

Аліаси бувать для таблиць та для полів

In [3]:
use hr_db

In [2]:
-- not working sample :
SELECT
	inv_no AS invoice_no,
	amount,
	due_date AS 'Due date',
	cust_no 'Customer No'
FROM
	invoices;

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'invoices'.

In [4]:
SELECT 
    first_name, 
    last_name, 
    salary * 1.1 AS new_salary
FROM
    employees;

first_name,last_name,new_salary
Steven,King,26400.000
Neena,Kochhar,18700.000
Lex,De Haan,18700.000
Alexander,Hunold,9900.000
Bruce,Ernst,6600.000
David,Austin,5280.000
Valli,Pataballa,5280.000
Diana,Lorentz,4620.000
Nancy,Greenberg,13200.000
Daniel,Faviet,9900.000
John,Chen,9020.000
Ismael,Sciarra,8470.000
Jose Manuel,Urman,8580.000
Luis,Popp,7590.000
Den,Raphaely,12100.000
Alexander,Khoo,3410.000
Shelli,Baida,3190.000
Sigal,Tobias,3080.000
Guy,Himuro,2860.000
Karen,Colmenares,2750.000
Matthew,Weiss,8800.000
Adam,Fripp,9020.000
Payam,Kaufling,8690.000
Shanta,Vollman,7150.000
Irene,Mikkilineni,2970.000
John,Russell,15400.000
Karen,Partners,14850.000
Jonathon,Taylor,9460.000
Jack,Livingston,9240.000
Kimberely,Grant,7700.000
Charles,Johnson,6820.000
Sarah,Bell,4400.000
Britney,Everett,4290.000
Jennifer,Whalen,4840.000
Michael,Hartstein,14300.000
Pat,Fay,6600.000
Susan,Mavris,7150.000
Hermann,Baer,11000.000
Shelley,Higgins,13200.000
William,Gietz,9130.000

In [ ]:
SELECT 
    first_name, 
    last_name, 
    salary * 1.1 AS new_salary
FROM
    employees
WHERE new_salary > 5000

-- ERROR, ORDER OF RUN IS: FROM > WHERE > SELECT

In [5]:
SELECT 
    first_name, 
    last_name, 
    salary * 1.1 AS new_salary
FROM
    employees
ORDER BY new_salary;

-- WORKS FINE: FROM > SELECT > ORDER BY

first_name,last_name,new_salary
Karen,Colmenares,2750.000
Guy,Himuro,2860.000
Irene,Mikkilineni,2970.000
Sigal,Tobias,3080.000
Shelli,Baida,3190.000
Alexander,Khoo,3410.000
Britney,Everett,4290.000
Sarah,Bell,4400.000
Diana,Lorentz,4620.000
Jennifer,Whalen,4840.000
David,Austin,5280.000
Valli,Pataballa,5280.000
Bruce,Ernst,6600.000
Pat,Fay,6600.000
Charles,Johnson,6820.000
Shanta,Vollman,7150.000
Susan,Mavris,7150.000
Luis,Popp,7590.000
Kimberely,Grant,7700.000
Ismael,Sciarra,8470.000
Jose Manuel,Urman,8580.000
Payam,Kaufling,8690.000
Matthew,Weiss,8800.000
Adam,Fripp,9020.000
John,Chen,9020.000
William,Gietz,9130.000
Jack,Livingston,9240.000
Jonathon,Taylor,9460.000
Daniel,Faviet,9900.000
Alexander,Hunold,9900.000
Hermann,Baer,11000.000
Den,Raphaely,12100.000
Nancy,Greenberg,13200.000
Shelley,Higgins,13200.000
Michael,Hartstein,14300.000
Karen,Partners,14850.000
John,Russell,15400.000
Neena,Kochhar,18700.000
Lex,De Haan,18700.000
Steven,King,26400.000

In [6]:
SELECT 
    employees.first_name, 
    employees.last_name
FROM
    employees;

first_name,last_name
Steven,King
Neena,Kochhar
Lex,De Haan
Alexander,Hunold
Bruce,Ernst
David,Austin
Valli,Pataballa
Diana,Lorentz
Nancy,Greenberg
Daniel,Faviet
John,Chen
Ismael,Sciarra
Jose Manuel,Urman
Luis,Popp
Den,Raphaely
Alexander,Khoo
Shelli,Baida
Sigal,Tobias
Guy,Himuro
Karen,Colmenares
Matthew,Weiss
Adam,Fripp
Payam,Kaufling
Shanta,Vollman
Irene,Mikkilineni
John,Russell
Karen,Partners
Jonathon,Taylor
Jack,Livingston
Kimberely,Grant
Charles,Johnson
Sarah,Bell
Britney,Everett
Jennifer,Whalen
Michael,Hartstein
Pat,Fay
Susan,Mavris
Hermann,Baer
Shelley,Higgins
William,Gietz

In [7]:
SELECT 
    e.first_name, 
    e.last_name
FROM
    employees AS e;

first_name,last_name
Steven,King
Neena,Kochhar
Lex,De Haan
Alexander,Hunold
Bruce,Ernst
David,Austin
Valli,Pataballa
Diana,Lorentz
Nancy,Greenberg
Daniel,Faviet
John,Chen
Ismael,Sciarra
Jose Manuel,Urman
Luis,Popp
Den,Raphaely
Alexander,Khoo
Shelli,Baida
Sigal,Tobias
Guy,Himuro
Karen,Colmenares
Matthew,Weiss
Adam,Fripp
Payam,Kaufling
Shanta,Vollman
Irene,Mikkilineni
John,Russell
Karen,Partners
Jonathon,Taylor
Jack,Livingston
Kimberely,Grant
Charles,Johnson
Sarah,Bell
Britney,Everett
Jennifer,Whalen
Michael,Hartstein
Pat,Fay
Susan,Mavris
Hermann,Baer
Shelley,Higgins
William,Gietz

Як витягнути інформацію про працівників та відділи (з назвами), у яких вони працюють?

![]()

In [8]:
SELECT 
    e.first_name, 
    e.last_name,
    d.department_name
FROM
    employees AS e,
    departments AS d
WHERE
    e.department_id = d.department_id

first_name,last_name,department_name
Steven,King,Executive
Neena,Kochhar,Executive
Lex,De Haan,Executive
Alexander,Hunold,IT
Bruce,Ernst,IT
David,Austin,IT
Valli,Pataballa,IT
Diana,Lorentz,IT
Nancy,Greenberg,Finance
Daniel,Faviet,Finance
John,Chen,Finance
Ismael,Sciarra,Finance
Jose Manuel,Urman,Finance
Luis,Popp,Finance
Den,Raphaely,Purchasing
Alexander,Khoo,Purchasing
Shelli,Baida,Purchasing
Sigal,Tobias,Purchasing
Guy,Himuro,Purchasing
Karen,Colmenares,Purchasing
Matthew,Weiss,Shipping
Adam,Fripp,Shipping
Payam,Kaufling,Shipping
Shanta,Vollman,Shipping
Irene,Mikkilineni,Shipping
John,Russell,Sales
Karen,Partners,Sales
Jonathon,Taylor,Sales
Jack,Livingston,Sales
Kimberely,Grant,Sales
Charles,Johnson,Sales
Sarah,Bell,Shipping
Britney,Everett,Shipping
Jennifer,Whalen,Administration
Michael,Hartstein,Marketing
Pat,Fay,Marketing
Susan,Mavris,Human Resources
Hermann,Baer,Public Relations
Shelley,Higgins,Accounting
William,Gietz,Accounting