# GROUP BY

Синтаксис запису

```
SELECT
    column1,
    column2,
    aggregate_function(column3)
FROM
    table_name
GROUP BY
    column1,
    column2;

```

```
SELECT 
    fruit
FROM 
    sample_table
GROUP BY 
    fruit;
```

![]()  

```
SELECT 
   fruit, COUNT(id) 
FROM
   sample_table
GROUP BY 
   fruit;
```

![]()

Порахуємо кількість працівників у віддалх компанії

![emp_dept_tables](https://www.sqltutorial.org/wp-content/uploads/2016/03/emp_dept_tables.png)

In [1]:
use hr_db

In [2]:
SELECT
	department_id,
	COUNT(employee_id) headcount
FROM
	employees
GROUP BY
	department_id;

department_id,headcount
1,1
2,2
3,6
4,1
5,7
6,5
7,1
8,6
9,3
10,6
11,2

In [3]:
-- with inner join
SELECT
	department_name,
	COUNT(employee_id) headcount
FROM
	employees e
INNER JOIN departments d ON d.department_id = e.department_id
GROUP BY
        department_name;

department_name,headcount
Accounting,2
Administration,1
Executive,3
Finance,6
Human Resources,1
IT,5
Marketing,2
Public Relations,1
Purchasing,6
Sales,6
Shipping,7

In [4]:
-- with ORDER BY
SELECT 
    department_name,
    COUNT(employee_id) headcount
FROM
    employees e
        INNER JOIN
    departments d ON d.department_id = e.department_id
GROUP BY department_name
ORDER BY headcount DESC;

department_name,headcount
Shipping,7
Finance,6
Purchasing,6
Sales,6
IT,5
Executive,3
Marketing,2
Accounting,2
Administration,1
Human Resources,1
Public Relations,1

In [8]:
-- only 5+ eploees
SELECT 
    department_name,
    COUNT(employee_id) as 'headcount'
FROM
    employees e
        INNER JOIN
    departments d ON d.department_id = e.department_id
GROUP BY department_name
HAVING COUNT(employee_id) > 5
ORDER BY headcount DESC

department_name,headcount
Shipping,7
Finance,6
Purchasing,6
Sales,6

In [9]:
-- min, max and average salary per department
SELECT 
    department_name,
    MIN(salary) min_salary,
    MAX(salary) max_salary,
    ROUND(AVG(salary), 2) average_salary
FROM
    employees e
        INNER JOIN
    departments d ON d.department_id = e.department_id
GROUP BY 
    department_name;

department_name,min_salary,max_salary,average_salary
Accounting,8300.00,12000.00,10150.000000
Administration,4400.00,4400.00,4400.000000
Executive,17000.00,24000.00,19333.330000
Finance,6900.00,12000.00,8600.000000
Human Resources,6500.00,6500.00,6500.000000
IT,4200.00,9000.00,5760.000000
Marketing,6000.00,13000.00,9500.000000
Public Relations,10000.00,10000.00,10000.000000
Purchasing,2500.00,11000.00,4150.000000
Sales,6200.00,14000.00,9616.670000
Shipping,2700.00,8200.00,5885.710000